body {
    font-family: monospace;
    background-color: rgb(247, 255, 179)
}

canvas {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%);
    border: 1px solid #181717;
    border-radius: 5px;
}

#info {
    font-size: 14px;
    position: fixed;
    bottom: 25px;
    left: 3%;
}